.button {
  font-family: var(--tipoLetraGeneral);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  font-weight: bold;
  background-color: var(--colorPrimario);
  color: var(--colorLetrasBoton);
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:hover {
  background-color: var(--colorSecundario);
  color: var(--colorLetrasBoton);
  transform: scale(1.12);
  transition: transform 0.3s ease;
}

.buttonActive {
  background-color: #dda0dd;
  color: var(--colorPrimario);
}

.buttonLogin {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--colorPrimario);
  color: var(--colorLetrasBoton);
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  transition: transform 0.3s ease;
}

.buttonLogin:hover {
  background-color: var(--colorSecundario);
  color: var(--colorLetrasBoton);
  transform: scale(1.12);
  transition: transform 0.3s ease;
}

.buttonLoginActive {
  background-color: #dda0dd;
  color: var(--colorPrimario);
}

.buttonLogo {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.buttonLogoActive {
  background-color: transparent;
}

.buttonTest {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 60px;
  margin-top: 20px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  border: none;
  background-color: var(--colorPrimario);
  color: var(--colorLetrasBoton);
  transition: transform 0.3s ease; 
}

.buttonTest:hover {
  background-color: var(--colorSecundario);
  color: var(--colorLetrasBoton);
  transform: scale(1.12);
  transition: transform 0.3s ease; 
}

.buttonTestActive {
  background-color: #dda0dd;
  color: var(--colorPrimario);
}
