.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo img {
  width: 200px;
  height: 80px;
}

.links {
  display: flex;
  gap: 1rem;
}

.usuario{
  display: flex;
  align-items: center;
}

/* .login {
  display: flex;
  align-items: center;
} */