.header {
  display: grid;
  grid-template-areas:
    "logo links login";
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 1rem;
  font-family: var(--tipoLetraGeneral);
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  grid-area: logo;
}

.logo img {
  width: 200px;
  height: 80px;
}

.links {
  grid-area: links;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.login {
  grid-area: login;
  display: flex;
  justify-content: end;
  align-items: center;
}

.usuario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--tipoLetraGeneral);
}