.container {
  min-height: 100vh;
  display: flex;
  font-family: var(--tipoLetraGeneral);
  background: var(--colorFondoGeneral);
}

.layout {
  flex: 1;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 24px;
  min-width: 0;
  overflow-x: hidden;
}
