@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  width: 100%;
  --colorPrimario: #4b0082;
  --colorSecundario: #800080;
  --colorLetrasBoton: beige;
  --colorBordeVentana: #e6e6fa;
  --colorSombraVentana: #dda0dd;
  --colorFondoGeneral: #f8f8ff;
  --tipoLetraGeneral: "Bricolage Grotesque", sans-serif;

  /*espacio para las cards*/
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  /* Bordes de las cards */
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;
}

html.light {
  --colorBordeVentana: #d6e4e5;
  --colorFondoGeneral: #e6f0f0;
  --colorPrimario: #3b4a6d;
}

html.dark {
  --colorBordeVentana: #4b5b74;
  --colorFondoGeneral: #192333;
  --colorPrimario: #eef1f5;
}:root.dark {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --text-muted: rgb(71, 69, 69);
  --bg: #16171d;
  --border: #2e303a;
  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  --completed-bg: rgba(34, 197, 94, 0.15);
  --completed-text: rgb(34, 197, 94);
  --completed-border: rgba(34, 197, 94, 0.5);
  --pending-bg: rgba(239, 68, 68, 0.15);
  --pending-text: rgb(239, 68, 68);
  --pending-border: rgba(239, 68, 68, 0.5);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  font-family: var(--tipoLetraGeneral);
  background-color: var(--colorFondoGeneral);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-button:vertical:start {
  height: 14px;
  background:
    linear-gradient(135deg, transparent 50%, var(--colorPrimario) 50%) 2px 4px /
      6px 6px no-repeat,
    linear-gradient(-135deg, transparent 50%, var(--colorPrimario) 50%) 6px
      4px / 6px 6px no-repeat,
    var(--colorBordeVentana);
}

::-webkit-scrollbar-button:vertical:end {
  height: 14px;
  background:
    linear-gradient(45deg, transparent 50%, var(--colorPrimario) 50%) 2px 4px /
      6px 6px no-repeat,
    linear-gradient(-45deg, transparent 50%, var(--colorPrimario) 50%) 6px 4px /
      6px 6px no-repeat,
    var(--colorBordeVentana);
}

::-webkit-scrollbar-thumb {
  background: var(--colorPrimario);
  border-radius: 5px;
  border: 2px solid var(--colorBordeVentana);
}
